html{
    body{
        .main{
            height: 100vh;;
            background: skyblue;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;

            .weather{
                border-radius: 5px;
                background: rgba(255, 255,255,0.8);
                width: 100%;
                height: 400px;
                float: left;
                .output{
                    padding: 0;
                    margin: 1rem 0;
                    .country-weather{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        h4{
                            font-weight: bold;
                            font-size: 3em;
                        }
                        h1{
                            font-weight: bold;
                            font-size: 5em;
                        }
                    }
                    .title-icon{
                        h4{
                            margin: 0;
                            display: flex;
                            align-items: center;
                            font-size: 2.5em;
                        }
                        h5{
                            text-transform: capitalize;
                        }
                    }
                    .minmax{
                        padding: 10px 0;
                        .min{
                            color: blue;
                            font-size: 1.5em;
                            font-weight: bold;
                        }
                        .max{
                            color: red;
                            font-size: 1.5em;
                            font-weight: bold;
                        }
                    }
                    .first{
                        float: left;
                        text-align: center;
                        font-size: 1.5em;
                        i{
                            margin-top: 1em;
                            font-size: 2em;
                        }
                        h4{
                            margin: 1em 0 3em 0;
                        }
                    }
                    .weather-data{
                        border-radius: 5px;
                        float: left;
                        padding: 15px;
                        float: left;
                        width: 100%;
                    }
                    .condition{
                        background: unset;
                        border-radius: 5px;
                        margin:0;
                        float: left;
                        font-size: 1.5em;
                        padding: 5px 0;
                        .col{
                            padding: 10px;
                            span{
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}

.form{
    h1{
        color:#ffffff;
        text-shadow: 0px 0px 10px #333333;
        font-weight: bold;
        font-size: 2em;
        padding: 0;
        margin: 0;
    }
    select{
        display: block !important;
        font-size: 20px;
    }
}
@media only screen and (max-width: 768px) {
    html{
        body{
            .main{
                display: block;
                padding: 10px 0;
                    h1{
                        font-size: 1.8em;
                        padding: 20px 0;
                        text-align: center;
                    }
                .weather{
                    height: unset;
                    .output{
                        .country-weather{
                            h4{
                                margin: 0;
                                font-size: 2em;
                            }
                            h1{
                                margin: 0;
                            font-size: 3em;
                            }
                        }
                    }
                }
            }
        }
    }
}